{% extends 'shoplee/main.html' %}

{% block body %}

    <!--BLOG-INSIDE(START)-->
    <div class="blog-container">
        <div class="inner-blog">
            <div class="heading">Shoplee Contract On sale</div>
            <div class="show">
                <span>By Pata Nahi</span>
                <span>3 days ago</span>
                <span><a href="">Comments(222)</a></span>
            </div>
            <div class="blogImage">
                <img src="/images/banner.png" alt="">
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti sed perspiciatis sint est quas,
                dolores consequuntur asperiores iusto suscipit consequatur ea beatae omnis architecto mollitia velit
                quia recusandae nostrum blanditiis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem in voluptatibus, sit quae rerum nesciunt
                eveniet reprehenderit? Ut dicta autem tenetur provident dolor quos assumenda recusandae possimus, ipsam
                doloremque nesciunt.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, ipsa atque ipsam quas optio iste quae
                minima voluptatum eum, omnis cumque rem deleniti corrupti laudantium repellendus similique error eius
                sit?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam accusamus, rem laborum ipsum ipsa
                illo ad dignissimos cumque est repellat sequi temporibus dolorem incidunt accusantium soluta sint cum
                doloribus!
            </div>
            <div class="blogComments">
                <div class="heading">
                    Comments
                </div>
                <div class="body">

                    <div class="postComment">
                        <div class="commentImg">
                            <div class="img">
                                <img src="/images/3-big.jpg" alt="">
                            </div>
                        </div>
                        <div class="comment-text">
                            <div class="name">Lora Lussan</div>
                            <div class="desc">I love you boss for this thats why i cant express my fuccking feelings Hi
                                it's very Good website as i love it very much</div>
                            <div class="time">15s ago</div>
                            <div class="likes">
                                <div class="spanIcons">
                                    <span> Reply <ion-icon name="arrow-undo-outline"></ion-icon></span>
                                    <span><i class="fa-regular fa-heart"></i> Like (2)</span>
                                </div>
                                <div class="spanForm">
                                    <form action="" class="reply">
                                        <textarea placeholder="Reply here..." name="" id=""></textarea>
                                        <input type="submit" value="Reply">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="postComment">
                        <div class="commentImg">
                            <div class="img">
                                <img src="/images/3-big.jpg" alt="">
                            </div>
                        </div>
                        <div class="comment-text">
                            <div class="name">Lora Lussan</div>
                            <div class="desc">I love you boss for this thats why i cant express my fuccking feelings Hi
                                it's very Good website as i love it very much</div>
                            <div class="time">15s ago</div>
                            <div class="likes">
                                <div class="spanIcons">
                                    <span> Reply <ion-icon name="arrow-undo-outline"></ion-icon></span>
                                    <span><i class="fa-regular fa-heart"></i> Like (2)</span>
                                </div>
                                <div class="spanForm">
                                    <form action="" class="reply">
                                        <textarea placeholder="Reply here..." name="" id=""></textarea>
                                        <input type="submit" value="Reply">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="postComment">
                        <div class="commentImg">
                            <div class="img">
                                <img src="/images/3-big.jpg" alt="">
                            </div>
                        </div>
                        <div class="comment-text">
                            <div class="name">Lora Lussan</div>
                            <div class="desc">I love you boss for this thats why i cant express my fuccking feelings Hi
                                it's very Good website as i love it very much</div>
                            <div class="time">15s ago</div>
                            <div class="likes">
                                <div class="spanIcons">
                                    <span> Reply <ion-icon name="arrow-undo-outline"></ion-icon></span>
                                    <span><i class="fa-regular fa-heart"></i> Like (2)</span>
                                </div>
                                <div class="spanForm">
                                    <form action="" class="reply">
                                        <textarea placeholder="Reply here..." name="" id=""></textarea>
                                        <input type="submit" value="Reply">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="postComment">
                        <div class="commentImg">
                            <div class="img">
                                <img src="/images/3-big.jpg" alt="">
                            </div>
                        </div>
                        <div class="comment-text">
                            <div class="name">Lora Lussan</div>
                            <div class="desc">I love you boss for this thats why i cant express my fuccking feelings Hi
                                it's very Good website as i love it very much</div>
                            <div class="time">15s ago</div>
                            <div class="likes">
                                <div class="spanIcons">
                                    <span> Reply <ion-icon name="arrow-undo-outline"></ion-icon></span>
                                    <span><i class="fa-regular fa-heart"></i> Like (2)</span>
                                </div>
                                <div class="spanForm">
                                    <form action="" class="reply">
                                        <textarea placeholder="Reply here..." name="" id=""></textarea>
                                        <input type="submit" value="Reply">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="addComment">
                <div class="heading">Wanna share opinion...<span>Click here</span></div>
                <div class="addNewComment">
                    <form action="">
                        <textarea name="" placeholder="Comment here..."></textarea>
                        <input type="submit" value="Comment">
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!--BLOG-INSIDE(END)-->
{% endblock %}