{% extends 'shoplee/main.html' %}

{% block body %}
<!---------------BLOG-PAGE(START)------------->
    <div class="blog">
        <div class="top">
            <img src="/images/alfons-morales-YLSwjSy7stw-unsplash.jpg" alt="">
            <div class="txt">Blog</div>
        </div>
        <div class="blog-container">
            <div class="blog-inner">

                <form action="" class="blogTop">
                    <input type="text" name="" id="" placeholder="Search blog here...">
                    <input type="submit" value="Search">
                </form>

                <div class="blog-content">
                    <div class="my-blog">

                        <a href="" class="name">
                            Shoplee Colonies are on Top
                        </a>
                        <div class="show">
                            <span>by Ft</span>
                            <span>12 months ago</span>
                            <span><a href="">Comments(399)</a></span>
                            </span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea totam corporis libero
                            numquam eius adipisci autem, ad alias enim impedit, lab...
                        </div>
                        <a href="">Continue Reading <span>&#8594;</span></a>

                    </div>
                    <div class="my-blog">

                        <a href="" class="name">
                            Shoplee Colonies are on Top
                        </a>
                        <div class="show">
                            <span>by Ft</span>
                            <span>12 months ago</span>
                            <span><a href="">Comments(399)</a></span>
                            </span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea totam corporis libero
                            numquam eius adipisci autem, ad alias enim impedit, lab...
                        </div>
                        <a href="">Continue Reading <span>&#8594;</span></a>

                    </div>
                    <div class="my-blog">

                        <a href="" class="name">
                            Shoplee Colonies are on Top
                        </a>
                        <div class="show">
                            <span>by Ft</span>
                            <span>12 months ago</span>
                            <span><a href="">Comments(399)</a></span>
                            </span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea totam corporis libero
                            numquam eius adipisci autem, ad alias enim impedit, lab...
                        </div>
                        <a href="">Continue Reading <span>&#8594;</span></a>

                    </div>
                    <div class="my-blog">

                        <a href="" class="name">
                            Shoplee Colonies are on Top
                        </a>
                        <div class="show">
                            <span>by Ft</span>
                            <span>12 months ago</span>
                            <span><a href="">Comments(399)</a></span>
                            </span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea totam corporis libero
                            numquam eius adipisci autem, ad alias enim impedit, lab...
                        </div>
                        <a href="">Continue Reading <span>&#8594;</span></a>

                    </div>
                    <div class="my-blog">

                        <a href="" class="name">
                            Shoplee Colonies are on Top
                        </a>
                        <div class="show">
                            <span>by Ft</span>
                            <span>12 months ago</span>
                            <span><a href="">Comments(399)</a></span>
                            </span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea totam corporis libero
                            numquam eius adipisci autem, ad alias enim impedit, lab...
                        </div>
                        <a href="">Continue Reading <span>&#8594;</span></a>

                    </div>
                    <div class="my-blog">

                        <a href="" class="name">
                            Shoplee Colonies are on Top
                        </a>
                        <div class="show">
                            <span>by Ft</span>
                            <span>12 months ago</span>
                            <span><a href="">Comments(399)</a></span>
                            </span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea totam corporis libero
                            numquam eius adipisci autem, ad alias enim impedit, lab...
                        </div>
                        <a href="">Continue Reading <span>&#8594;</span></a>

                    </div>
                    <div class="my-blog">

                        <a href="" class="name">
                            Shoplee Colonies are on Top
                        </a>
                        <div class="show">
                            <span>by Ft</span>
                            <span>12 months ago</span>
                            <span><a href="">Comments(399)</a></span>
                            </span>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea totam corporis libero
                            numquam eius adipisci autem, ad alias enim impedit, lab...
                        </div>
                        <a href="">Continue Reading <span>&#8594;</span></a>

                    </div>


                </div>

            </div>
        </div>

    </div>
<!----------------BLOG-PAGE(END)-------------->
{% endblock %}