{% extends 'shoplee/main.html' %}

{% block body %}

<!-----------------------HER0------------------------>
<div class="owl-carousel owl-theme">
    <div class="item">
        <img src="/images/3.png" alt="">
        <div class="banner-content">
            <p class="subtitle">Trending Item</p>
            <h2 class="title">Women's Fashion Sale</h2>
            <p class="desc">Starting from PKR 3000/-</p>
            <a href="" class="btn">Shop Now</a>
        </div>
    </div>

    <div class="item">
        <img src="/images/2.png" alt="">
        <div class="banner-content">
            <p class="subtitle">Trending Item</p>
            <h1 class="title">Top Order Sales</h1>
            <p class="desc"></p>
            <a href="" class="btn">Shop Now</a>
        </div>
    </div>

    <div class="item">
        <img src="/images/1.png" alt="">
        <div class="banner-content">
            <p class="subtitle">Hot Deal</p>
            <h2 class="title">Pure Gold Jewelry</h2>
            <p class="desc"></p>
            <a href="" class="btn">Shop Now</a>
        </div>
    </div>

    <div class="item">
        <img src="/images/4.png" alt="">
        <div class="banner-content">
            <p class="subtitle">Upcoming Item</p>
            <h2 class="title">Apple's I-phone 14</h2>
            <p class="desc"></p>
            <a href="" class="btn">Pre-Book</a>
        </div>
    </div>
</div>
<!--------------------HER0 (END)--------------------->

<!--------------------characteristics---------------->
<div class="wrapper">
    <div class="char has-scrollbar">
        <div class="bar">
            <p>Shipping in 20 days</p>
            <img src="/images/fast-delivery-icon-free-vector-removebg-preview (1).png" alt="">
        </div>
        <div class="bar">
            <p>Safe payment</p>
            <img src="/images/safee.png" alt="">

        </div>
        <div class="bar">
            <p>Custmer Care</p>
            <img src="/images/1__2825_29-removebg-preview.png" alt="">
        </div>
        <div class="bar">
            <p>Trusted Sellers</p>
            <img src="/images/aza-removebg-preview.png" alt="">

        </div>
        <div class="bar">
            <p>30 days return policy</p>
            <img src="/images/sss.png" alt="">

        </div>
        <div class="bar">
            <p>Cerified International</p>
            <img src="/images/istockphoto-1394911378-170667a-removebg-preview.png" alt="">
        </div>
    </div>
</div>
<!------------------characteristics(END)------------->

<!---------------------HOT DEALS--------------------->
<div class="container">

    <div class="title">
        <h1>Hot <span>Deals</span></h1>
    </div>

    <div class="products has-scrollbar">
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>



    </div>

</div>
<!--------------------HOT DEALS (END)---------------->

<!---------------------NEW ARRIVALE------------------>
<div class="container">

    <div class="title">
        <h1>New <span>Arrivals</span></h1>
    </div>

    <div class="products has-scrollbar">
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>
        <div class="product">
            <div class="pic">
                <img src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png"
                    alt="">
                <div class="imghover">
                    <ion-icon name="eye-outline"></ion-icon>
                    <i class="lni lni-heart"></i>
                    <i class="lni lni-cart"></i>
                </div>
            </div>
            <div class="desc">
                <p>Apple's</p>
                <a href="">
                    <h3>Smart Watch</h3>
                </a>
                <span><s>$599</s>$460</span>
            </div>
        </div>



    </div>

</div>
<!------------------NEW ARRIVALE (END)--------------->

<!-----------------------banner---------------------->
<div class="cntainer">
    <div class="banner">
        <div class="content">
            <img src="/images/banner.png" alt="">
            <div class="text">
                <h2>Fashion</h2>
                <h1>Summer<span>Sales</span></h1>
                <p>Starting From 30 November</p>
            </div>
        </div>
    </div>
</div>
<!---------------------banner (END)------------------>

<!-------------------DEAL OF THE DAY----------------->
<div class="container">
    <div class="inside">
        <div class="dd-img">
            <img
                src="/images/png-transparent-apple-watch-smartwatch-wearable-technology-apple-products-electronics-gadget-company-removebg-preview.png">
            <a href="" class="btn">Shop Now</a>
        </div>
        <div class="content">
            <div class="star">
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
            </div>
            <p>Apple's</p>
            <a href="">
                <h3>Smart Watch</h3>
            </a>
            <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, fugit dignissimos
            </p>
            <span><s>$599</s>$460</span>
            <div class="time">
                <div class="timer">
                    <h4 class="hr"></h4>
                    <p>hour</p>
                </div>
                <div class="timer">
                    <h4 class="min"></h4>
                    <p>minute</p>
                </div>
                <div class="timer">
                    <h4 class="sec"></h4>
                    <p>second</p>
                </div>


            </div>
            <div class="deal-expired">EXPIRED</div>

        </div>
    </div>
</div>
<!-----------------DEAL OF THE DAY (END)------------->

<!-----------------------ABOUT----------------------->
<div id="about">
    <div class="container">

        <div class="title">
            <h1>Our <span>Team</span></h1>
        </div>
        <div class="cardui">
            {% for userProf in about %}
            <div class="card">
                <div class="card-inner">
                    <div class="pic">
                        <img src="{{userProf.avatar}}" alt="">
                    </div>
                    <div class="content">
                        <div class="post">{{userProf.rank}}</div>
                        <div class="cdname">{{userProf.name}}</div>
                        <div class="cddesc">{{userProf.bio}}</div>
                        <div class="links">
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<!---------------------ABOUT(END)-------------------->
{% endblock %}