{% extends 'shoplee/main.html' %}

{% block body %}
    <!--Thanks (START)-->
    <div class="thanks-container">
        <div class="thanks">
            <div class="desc"></div>
            <div class="heading">
                <h2>Thanks</h2>
                <h2>Thanks</h2>
                <h3>For shopping</h3>
            </div>
            <div class="slip">
                <a href="">Click here to download order slip</a>
            </div>
            <div class="buttons">
                <a href="" class="shop-more">View Order</a>
                <a href="" class="view-order">Shop More</a>
            </div>
            
        </div>

    </div>
    <!--Thanks (START-END)-->
{% endblock %}