.notification{
    background-color: #fff;
    z-index: 99;
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    padding: 10px;
    border-left: 6px solid #CC9966;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.34);
-webkit-box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.34);
-moz-box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.34);
transform: translateX(calc(100% + 20px));
transition: all 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.35);


}
.notification-hidden{
    display: none;
}
.notification-inner{
    position: fixed;
    right: 10px;
    top:90px;
    display: flex;
    flex-flow: column-reverse;
    gap: 10px;
}
.notification .progress{
    position: absolute;
    left: 3px;
    bottom: 0;
    height: 2px;
    width: calc(100% - 15px);
    overflow: hidden;
    
    
}
.notification .progress::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
    background-color: #CC9966;
    
    
}

@keyframes progress {
    100%{
        right: 100%;
    }
    
}
.notification.active{
    transform: translateX(0);

}
.notification.active .progress:before{
    animation: progress 2s linear forwards;
}
.notification .not-content{
    position: relative;
    
}
.notification .not-content ion-icon:nth-child(1){
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 30px;
    color: #CC9966;
}
.notification .not-content span{
    display: flex;
    align-items: center;
    font-size: medium;
    margin: 2px 35px 2px 40px;
    font-family: Quicksand;
    
}
.notification .not-content span:nth-child(1){
    font-size: medium;
    font-weight: bold;
    color: #CC9966;
}
.notification .not-content ion-icon:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.notification .not-content ion-icon:nth-child(2):hover,
.notification .not-content ion-icon:nth-child(2):active{
    color: #CC9966;
}


@media screen and (min-width:991.9px) {
    .notification-inner{  
        top: 130px;
        right: 40px;}
    .notification{

        transform: translateX(calc(100% + 50px));
    }
    .notification .not-content span{
        margin: 2px 50px 2px 45px;
    }
}